body {
    text-align: center;
    background-color: black;
    
  }
  
  input {
    margin: 10px;
    
  }
  
  h2 {
    margin-top: 20px;
  }

  #calc {
    color: rgb(177, 163, 7);

  }

  #tax {
    color: rgb(177, 163, 7);

  }

  #val {
    color: rgb(177, 163, 7);

  }

  #tem {
    color: rgb(177, 163, 7);

  }

  button {
    margin: 10px;
    color: rgb(177, 163, 7);
  }

  #resultado {
    color: rgb(177, 163, 7);
  }